:root[data-theme="light"] {
    color-scheme: light;
    --clr-body-background : rgb(255, 255, 255);
    --clr-body-text : rgb(0, 0, 0);
    --clr-buttons-background : rgba(0, 0, 0);
    --clr-accent : rgb(0, 0, 0);
    --clr-shadow : rgba(0, 0, 0, 0.25);
}

:root[data-theme="dark"] {
    color-scheme: dark;
    --clr-body-background : rgb(0, 0, 0);
    --clr-body-text : rgb(255, 255, 255);
    --clr-buttons-background : rgba(220, 211, 211);
    --clr-accent : rgb(0, 0, 0);
    --clr-shadow : rgba(255, 255, 255, 0.25);
}