:root[data-theme="light"] {
    --phone-icon: url('../images/icons8-te패le패phone-24.png');
    --contact-icon: url('../images/icons8-write-24.png');
}

:root[data-theme="dark"] {
    --phone-icon: url('../images/icons8-write-24-2.png');
    --contact-icon: url('../images/icons8-te패le패phone-24-2.png');
}