/* 
    =============
        MOBILE
    =============
*/

body .header {
    /* background-image: url('/assets/images/cropped-anne.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 6.5rem;
    padding: 3rem 1.5rem;

    background-color: var(--clr-body-background);
    box-shadow: 0 9px 38px -11px var(--clr-shadow);

    border-radius: 0.5rem;

    z-index: 1000;
}

.header-container, .header-container .header-title {
    color: var(--clr-text);
    /* text-align: center; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1000;
    background-color: var(--clr-body-background);
}

.header-container .header-title h1 {
    font-size: var(--fs-header-title);
    letter-spacing: 0.25rem;
    margin-bottom: 0.5rem;
}

.header-container .header-title p {
    font-size: var(--fs-page-p);
    letter-spacing: 0.1rem;
}

/* 
====================
NAVIGATION
==================== 
*/

.header-container nav {
    height: 100%;
    padding: 10rem 1rem;

    display: none;

    position:fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;

    background-color: var(--clr-body-background);
}

.header-container nav .site-links {
    order: 2;

    background-color: var(--clr-text);
    color: var(--clr-text-inversed);
    border-radius: 0.5rem;

    /* margin-top: 10rem; */
    padding-block: 2rem;
}

.header-container nav .site-links li {
    text-align: center;
    margin-block: 2rem;
    text-transform: uppercase;
}

.header-container nav .site-links .subMenuParent {
    cursor: pointer;
    position: relative;
}

.header-container nav .site-links .subMenuParent:after {
    content: var(--toggle-icon);
    top: 50%;
    position: absolute;
    right: 15%;
    transform: translateY(-50%);
}

.header-container .sub-menu {
    display: none;
    justify-items: center;
}

.header-container nav .contact-links {
    display: flex;
    justify-content: space-evenly;

    margin-block: 4rem;
}

.header-container nav .contact-links a {
    position: relative;
}

.header-container .contact-link:before {
    content: var(--contact-icon);
    top: 50%;
    position: absolute;
    left: -3rem;
    transform: translateY(-50%);
}

.header-container .contact-phone:before {
    content: var(--phone-icon);
    top: 50%;
    position: absolute;
    left: -3rem;
    transform: translateY(-50%);
}

.header-container .active {
    display: flex;
    flex-direction: column;
}

.header-container .header-menu-button-container {
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;

    width: 50px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-buttons-background);
    border-radius: 0.5rem;
    padding: 0.3rem;

    cursor: pointer;
    /* overflow: hidden; */
    z-index: 1000;
}

.header-container nav .search-bar {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container nav .search-bar label {
    display: none;
}

.header-container nav .search-bar #search {
    padding: 1rem;
    margin-block: 1rem;

    width: 80%;

    box-shadow: 0 4px 24px -6px var(--clr-shadow);
    border: 1px solid var(--clr-border);
    border-radius: 0.5rem;
}

.header-container nav .search-bar #searchsubmit {
    padding: 1rem 1.5rem;
    margin-block: 1rem;

    background-color: var(--clr-accent);
    color: white;

    box-shadow: 0 4px 24px -6px var(--clr-shadow);
    border: 1px solid var(--clr-border);
    border-radius: 0.5rem;
}

/* 
    =============
        DESKTOP
    =============
*/

@media (min-width: 1024px) {

}

/* 
    =============
        TABLET
    =============
*/

@media (min-width: 768px) and (max-width: 1023px) {

}

/* 
    ==================
        SMALLER MOBILE
    ==================
*/ 

@media (max-width: 350px) {
    .header-container .header-title h1 {
        font-size: 3rem;
    }
    .header-container .header-title p {
        font-size: 1.35rem;
    }
}