.main-container .last-project article {
    padding: 2.5rem;
}

.main-container .last-project article:after {
    content: "";
    display: block;
    width: 20rem;
    height: 0.25rem;
    background-color: var(--clr-secondary);
    margin: 1rem auto;
}

.main-container .last-project article h2 {
    font-size: var(--fs-section-title);
    margin-block: 2.5rem;
}

.main-container .last-project article img {
    margin-block: 2rem;
}

.main-container .sub-pages-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container .sub-pages-list h2 {
    font-size: var(--fs-section-title);
    margin-block: 2.5rem;
}