.main-container article {
    padding: 1rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container article img {
    width: 100%;
    height: auto;
    margin-block: 2rem;
}

.main-container article embed {
    margin-block: 2rem;
}


/* 
    ==================
        SMALLER MOBILE
    ==================
*/ 

@media (max-width: 350px) {
    .main-container article {
        padding: 3rem;
    }
}