header {
    margin-bottom: 4rem;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    position: absolute;
    z-index: -1000;
    width: 100%;
}

header .header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

header h1 {
    font-family: "Romie Heavy";
    font-size: 5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: white;
}

header .header nav {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
}

header .menu-menu-principal-container {
    width: 100%;
}

header .menu-menu-principal-container ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-block: 2.5rem;
    width: 100%;
}

header .menu-menu-principal-container ul .menu-item {
    position: relative;
    margin-block: 1rem;
    text-align: center;
}

header .menu-menu-principal-container ul .menu-item a {
    color: var(--text);
    font-family: "Neue Montreal Medium";
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    text-align: center;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 0.5rem;
    background-color: var(--background-lighter);
}

header nav .menu-menu-principal-container ul .menu-item-has-children .sub-menu .menu-item a {
    background-color: transparent;
    padding: 1rem 1rem;
}

header .menu-menu-principal-container ul .menu-item a:hover {
    color: var(--text);
    background-color: var(--background);
}

header nav .menu-menu-principal-container ul .menu-item-has-children .sub-menu .menu-item a:hover {
    background-color: var(--secondary);
    border-radius: 0.5rem;
}

header .menu-menu-principal-container ul .menu-item a[aria-current="page"] {
    font-weight: bolder;
    color: var(--text);
    background-color: var(--background);
    border: 1px solid var(--background); /*permet d'avoir un rectangle plus large que les autres links*/
    border-bottom: 4px solid var(--accent);
}

header nav .menu-menu-principal-container ul .menu-item-has-children .sub-menu {
    display: none;
    width: 30rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--background);
    border-radius: 0.5rem;
    margin-top:4rem;
    padding: 1rem;
    box-shadow: 0px 0px 20px 0px var(--box-background);
}

header nav .menu-menu-principal-container ul .menu-item-has-children:hover .sub-menu {
    display: block;
}

.espace_famille {
    border: 3px solid var(--box-border);
    background: var(--background-lighter);
    color: var(--text);
    font-weight: bolder;
}