.mairie-menu-container {

}

.mairie-menu {

}

.mairie-menu-container .mairie-menu a {
    width: 170px;
    height: 145px;
    margin-bottom: 4.5rem;
    padding: 2rem 2.5rem;

    background-color: var(--background);
    border: 1px solid var(--box-border);
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.mairie-menu-container .mairie-menu a:before {
    content: url("../images/icons8-wave-48.png");
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -35px;
    padding: 0.5rem;
    background-color: var(--background-lighter);
    /*background: var(--accent);*/
    /*height: 3px;*/
    /*width: 50px;*/
}

.mairie-menu-container .mairie-menu a .svg-container img {
    width: 70px;
    height: 70px;
}

.mairie-menu-container .mairie-menu a .label {
    text-transform: uppercase;
}