strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

body .main-container {
    padding-block: 1rem;

    background-color: var(--clr-background);
}

.main-container h1 {
    margin-block: 3.5rem 3rem;

    font-size: var(--fs-page-title);
    text-align: center;
}

.main-container h1:after {
    margin: 1.5rem auto;

    width: 10rem;
    height: 0.35rem;

    content: "";

    display: block;

    background-color: var(--clr-accent);
}

.main-container .sub-pages-list {
    margin-bottom: 3.5rem;
}

.main-container .sub-pages-list nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-container .sub-pages-list nav a {
    height: 10rem;
    width: 15rem;

    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
    box-shadow: 0 4px 24px -6px var(--clr-card-shadow);

    border: 1px solid var(--clr-card-border);
    border-radius: 0.5rem;

    text-align: center;
}

/* ============
    PROJECTS LAYOUT
   ============ */

.main-container .last-project article {
    padding: 2.5rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-element-background);

    border: 1px solid var(--clr-element-border);
    border-radius: 0.5rem;
}

.main-container .last-project article:after {
    width: 20rem;
    height: 0.25rem;

    margin: 1rem auto;

    content: "";

    display: block;

    background-color: var(--clr-accent);
}

.main-container .last-project article h2 {
    margin-block: 2.5rem;

    font-size: var(--fs-section-title);
}

.main-container .last-project article figure img {
    margin-block: 2rem;

    border: 1px solid var(--clr-element-border);
    border-radius: 0.5rem;
}

.main-container .last-project article .text-section p {
    padding: 1.5rem 2rem;

    order: 0;
}

.main-container .last-project .text-section {
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container .last-project article .text-section a {
    width: fit-content;

    padding: 1.5rem 2rem;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: var(--clr-button-background);

    border: 1.5px solid var(--clr-button-border);
    border-radius: 0.5rem;

    box-shadow: 0 4px 24px -6px var(--clr-button-shadow );
}

.main-container .last-project article .text-section a:hover {
    background-color: var(--clr-button-background-hover);

    border: 1.5px solid var(--clr-button-border-active);
}

.main-container .last-project article .text-section a:active {
    background-color: var(--clr-button-background-active);

    border: 1.5px solid var(--clr-button-border-active);
}

.main-container .sub-pages-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container .sub-pages-list h2 {
    margin-block: 2.5rem;

    font-size: var(--fs-section-title);
}

/* ============
    TABLE LAYOUT
   ============ */

.main-container .professionals-list {
    width: 70%;

    margin-inline: auto;
}

.main-container .professionals-list h2 {
    margin-block: 2.5rem;

    font-size: var(--fs-section-title);
}

.main-container .professionals-list article {
    margin-block: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-container .professionals-list article:before {
    width: 20rem;
    height: 0.2rem;

    margin: 1.5rem auto 3rem;

    content: "";

    display: block;

    background-color: var(--clr-element-border);
}

.main-container .professionals-list article:after {
    width: 20rem;
    height: 0.2rem;

    margin: 3rem auto 1.5rem;

    content: "";

    display: block;

    background-color: var(--clr-element-border);
}

.main-container .professionals-list article h3 {
    text-transform: uppercase;
}

.main-container .professionals-list article address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-container .professionals-list article address > * {
    margin-block: 1rem;
}

.main-container .professionals-list article address a {
    position: relative;
}

.main-container .professionals-list article address a:after {
    width: 7.5rem;
    height: 0.3rem;

    margin: 0.5rem auto;

    content: "";

    display: block;

    background-color: var(--clr-accent);

    position: absolute;
}

.main-container .professionals-list article img {
    width: auto;
    height: 7rem;

    align-self: flex-end;

    background-color: var(--clr-background);
}

/* ============
    SINGLE LAYOUT
   ============ */

.main-container article {
    padding: 2.5rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container article p {
    order: 1;
}

.main-container article ul {
    list-style: square;
}

.main-container article figure {
    order: 0;

    display: flex;
    justify-content: center;
}

.main-container article figure img {
    width: 80%;
    height: auto;

    margin-block: 2rem;

    order: 0;

    border: 1px solid var(--clr-element-border);
    border-radius: 0.5rem;
}

.main-container article div .wp-block-file object {
    margin-bottom: 3rem;
}

.main-container article div a.wp-block-file__button.wp-element-button {
    padding: 1.5rem 2rem;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    background-color: var(--clr-button-background);

    border: 1.5px solid var(--clr-button-border);
    border-radius: 0.5rem;

    box-shadow: 0 4px 24px -6px var(--clr-button-shadow );

    color: var(--clr-text-high-contrast);
}

.main-container article div a.wp-block-file__button.wp-element-button:hover {
    background-color: var(--clr-button-background-hover);

    border: 1.5px solid var(--clr-button-border-active);
}

.main-container article div a.wp-block-file__button.wp-element-button:active {
    background-color: var(--clr-button-background-active);

    border: 1.5px solid var(--clr-button-border-active);
}

/* single post or associations */

.main-container .single {
    display: flex;
}

.main-container .single h2 {
    font-size: var(--fs-page-title);
    text-align: center;
}

.main-container .single p {
    order: unset;

    padding: 1rem;
}

.main-container .single address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-container .single address > * {
    margin: 1rem;
}

.main-container .single address a {
    position: relative;
}

.main-container .single address a:after {
    width: 7.5rem;
    height: 0.3rem;

    margin: 0.5rem auto;

    content: "";

    display: block;

    background-color: var(--clr-accent);

    position: absolute;
}

.main-container .single .img .wp-block-image {
    width: auto;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-background);
}

.main-container .single .img .wp-block-image img {
    height: auto;
    margin-bottom: 0;
}

.main-container .single .text .wp-block-table {
    flex-direction: column;
    align-items: center;
}

.main-container .single .text .wp-block-table table {
    width: fit-content;

    color: var(--clr-element-border-active);
}

/* CONTACT FORM */
.main-container .wpcf7 > form > p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.main-container .wpcf7 > form > p input, .main-container .wpcf7 > form > p textarea {
    margin-block: 1rem;
    padding: 1rem;

    box-shadow: 0 4px 24px -6px var(--clr-card-shadow);

    border: 1px solid var(--clr-element-border);
    border-radius: 0.5rem;
}

.main-container .wpcf7 > form > p select {
    margin-block: 1rem;
    padding: 1rem;
}

.main-container .wpcf7 > form > p .wpcf7-submit {
    width: fit-content;

    margin-block: 1rem;
    padding: 1rem 1.5rem;

    background-color: var(--clr-button-background);
    box-shadow: 0 4px 24px -6px var(--clr-button-shadow);

    border: 1px solid var(--clr-button-border);
    border-radius: 0.5rem;

    color: var(--clr-text-high-contrast);

    cursor: pointer;
}

.main-container .wpcf7 > form > p .wpcf7-submit:hover {
    background-color: var(--clr-button-background-hover);

    border: 1px solid var(--clr-button-border-active);
}

.main-container .wpcf7 > form > p .wpcf7-submit:active {
    background-color: var(--clr-button-background-active);

    border: 1px solid var(--clr-button-border-active);
}

/* CANTINE */

.main-container .sub-pages-list nav .red {
    background-color: #fdbdbe;
    box-shadow: 0 4px 24px -6px var(--clr-button-shadow);

    border: 1px solid #e5484d;
    border-radius: 0.5rem;
}

.main-container .sub-pages-list nav .red:hover {
    background-color: #f4a9aa;

    border: 1px solid #e5484d;
}

.main-container .sub-pages-list nav .red:active {
    background-color: #eb8e90;

    border: 1px solid #dc3e42;.
}


.main-container .sub-pages-list nav .blue {
    background-color: hsl(209, 81.2%, 84.5%);
    box-shadow: 0 4px 24px -6px var(--clr-button-shadow);

    border: 1px solid hsl(206, 100%, 50.0%);
    border-radius: 0.5rem;
}

.main-container .sub-pages-list nav .blue:hover {
    background-color: hsl(208, 77.5%, 76.9%);

    border: 1px solid hsl(208, 93.5%, 47.4%);
}

.main-container .sub-pages-list nav .blue:active {
    background-color: hsl(206, 81.9%, 65.3%);

    border: 1px solid hsl(208, 93.5%, 47.4%);
}




/*
    ==================
        SMALLER MOBILE
    ==================
*/

@media (max-width: 350px) {
    .main-container article {
        padding: 3rem;
    }
}

/*
    =============
        DESKTOP
    =============
*/

@media (min-width: 1024px) and (max-width: 1510px) {
    body .main-container {
        min-height: 50vh;
        padding-inline: 4rem;
    }

    /* ============
        TABLE LAYOUT
       ============ */

    .main-container .professionals-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .main-container .professionals-list h2 {
        grid-column: 1 / 3;
    }

    /* ============
        PROJECTS LAYOUT
       ============ */

    .main-container .last-project article {
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
    }

    .main-container .last-project article:after {
        margin-top: 2rem;

        grid-column: span 2;
    }

    .main-container .last-project article h2 {
        grid-column: span 2;
    }

    .main-container .last-project article .text-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .main-container .last-project article .text-section a {
        grid-column: 1 / 2;
    }

    .main-container .last-project article figure img {
        width: 70%;
    }

    .main-container article {
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    /* ============
        SINGLE LAYOUT
       ============ */

    .main-container article {
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .main-container article .wp-block-file {
        grid-column: span 2;
    }

    /* single post or associations */

    .main-container .single {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas:
                "text img"
                "text address";
    }

    .main-container .flex {
        display: flex;
    }

    .main-container .single .text {
        grid-area: text;
    }

    .main-container .single address {
        grid-area: address;
    }

    .main-container .single .img {
        grid-area: img;
    }

    .main-container .single .wp-block-image {
        grid-row: span 5 !important;
    }

    .main-container .single .wp-block-image, .main-container .single .img .wp-block-image {
        width: auto;

        grid-area: img;
        grid-row: span 5;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--clr-background);
    }

    .main-container .single .img .wp-block-image img {
        height: auto;
    }

    .main-container .single .text .wp-block-table {
        flex-direction: column;
        align-items: center;
    }

    .main-container .single .text .wp-block-table table {
        width: fit-content;

        color: var(--clr-element-border-active);
    }
}

/*
    =============
    LARGER DESKTOP
    =============
*/

@media (min-width: 1511px) {
    .main-container .professionals-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main-container .professionals-list h2 {
        grid-column: 1 / 3;
    }

    /* ============
        PROJECTS LAYOUT
       ============ */

    .main-container .last-project article {
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .main-container .last-project article:after {
        margin-top: 2rem;

        grid-column: span 2;
    }

    .main-container .last-project article h2 {
        grid-column: span 2;
    }

    .main-container .last-project article .text-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }

    .main-container .last-project article .text-section a {
        grid-column: 1 / 2;
    }

    .main-container .last-project article figure img {
        width: 70%;
    }

    /* ============
        SINGLE LAYOUT
       ============ */

    .main-container article {
        padding: 2rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .main-container article .wp-block-file {
        grid-column: span 2;
    }

    /* single post or associations */

    .main-container .single {
        display: grid;
        grid-gap: 2rem;
        grid-template-areas:
                "text img"
                "text address";
    }

    .main-container .flex {
        display: flex;
    }

    .main-container .single .text {
        grid-area: text;
    }

    .main-container .single address {
        grid-area: address;
    }

    .main-container .single .img {
        grid-area: img;
    }

    .main-container .single .img .wp-block-image {
        width: auto;

        grid-area: img;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--clr-background);
    }

    .main-container .single .img .wp-block-image img {
        height: auto;
    }

    .main-container .single .text .wp-block-table {
        flex-direction: column;
        align-items: center;
    }

    .main-container .single .text .wp-block-table table {
        width: fit-content;

        color: var(--clr-element-border-active);
    }
}